body {
    animation: scroller 600ms linear 1;
}
@keyframes scroller {
    0% {
        overflow: hidden;
    }
    99% {
        overflow: hidden;
    }
    100% {
        overflow: auto;
    }
}
input, h3 {
    margin: 0;
}
.contact-page {
    position: relative;
    align-items: center;
    text-align: center;
    margin: auto;
    background: rgb(63, 63, 63);
    width: 500px;
    padding: 40px;
    border-radius: 10px;
    animation: showPage 300ms linear 1;
    bottom: 0px;
}
@keyframes showPage {
    0% {
        bottom: -400px;
    }
    100% {
        bottom: 0px;
    }
}
.contact-page div {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: rgba(128, 128, 128, 0.397);
    width: 300px;
    margin: auto;
}
div.message {
    width: 400px;
}
.contact-page div+div {
    margin-top: 30px;
}
.contact-page h3 {
    font-size: 16px;
    align-items: center;
    text-align: center;
    margin: auto;
    font-family: roboto;
    width: 250px;
    margin-bottom: 10px;
    color: white;
    margin-top: 30px;
}
.contact-page h2 {
    font-size: 20px;
    align-items: center;
    text-align: center;
    margin: auto;
    font-family: roboto;
    width: 250px;
    color: white;
    margin-top: 60px;
}
.contact-page div.message h3 {
    text-align: center;
}
.contact-page input {
    margin: auto;
    padding: 0 10px 0 10px;
    width: 300px;
    max-width: 300px;
    height: 40px;
    max-height: 40px;
    border: none;
    background: rgb(139, 139, 139);
    border-radius: 5px;
    text-align: center;
    font-family: roboto;
    font-size: 16px;
    font-weight: 700;
    transition: background 400ms;
}
.contact-page div.message input {
    display: flex;
    margin-left: 0;
}
.contact-page textarea {
    margin: auto;
    width: 400px;
    max-width: 400px;
    min-width: 300px;
    height: 30px;
    min-height: 30px;
    border: none;
    background: rgb(117, 117, 117);
    border-radius: 5px;
    text-align: left;
    font-family: roboto;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    resize: vertical;
    transition: background 0.4s;
}
.contact-page input:hover, .contact-page textarea:hover {
    background-color: rgb(207, 149, 149);
}
.contact-page input:focus, .contact-page textarea:focus {
    outline: none;
}
.contact-page .message button {
    margin: 30px 0 30px 0;
    height: 60px;
    width: 150px;
    background: rgb(20, 20, 20);
    color: white;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 800ms;
}
.contact-page .message button:hover {
    background: #c52f2f;
}
img.phone, img.mail {
    width: 30px;
    filter: brightness(20);
    filter: invert();
}
@media(max-width:876px) {
    body {
        overflow: auto;
    }
    div.contact-page {
        background: none;
        width: 100%;
        padding: 0;
        margin-top: 80px;
        bottom: 60px;
    }
    @keyframes showPage {
        0% {
            bottom: -400px;
        }
        100% {
            bottom: 60px;
        }
    }
    div.contact-page div.info-contact {
        border-bottom-style: none;
        border: none;
        height: 200px;
        width: 300px;
        display: flex;
        text-align: center;
        align-items: center;
        margin: auto;
    }
    div.telefone, div.contact-page div.email {
        margin: auto;
        border-bottom: none;
        align-items: center;
        text-align: center;
        width: 130px;
        height: 130px;
    }
    div.telefone {
        margin-right: -20px;
        border-radius: 0;
        background: linear-gradient(125deg, rgba(93, 219, 180, 1) 0%, rgba(66, 145, 233, 1) 51%);
    }
    div.email {
        border-radius: 0;
        margin-left: -20px;
        background: linear-gradient(125deg, rgba(219, 169, 93, 1) 0%, rgb(233, 132, 132) 71%);
    }
    div.telefone img, div.email img {
        margin-top: 30px;
        width: 50px;
    }
    div.email img {
        filter: brightness(100);
    }
    div.telefone h3, div.email h3 {
        font-size: 12px;
        width: 130px;
        margin-top: 0px;
    }
    div.contact-page div.message {
        width: 270px;
    }
    div.contact-page div.message h2 {
        margin-top: 0;
        font-style: italic;
    }
    .contact-page input {
        width: 250px;
        height: 60px;
        max-height: 50px;
        background-color: white;
    }
    .contact-page textarea {
        background-color: white;
        width: 250px;
        max-width: 250px;
        min-width: 250px;
        height: 120px;
    }
    .contact-page div.message {
        border-bottom: none;
    }
    .contact-page div.message button {
        background: linear-gradient(125deg, rgb(81, 189, 197) 5%, rgb(113, 238, 134)100%);
        width: 265px;
    }
    .contact-page .message button:focus {
        background: rgb(113, 238, 134);
    }
}