body {
    background: #1f1f1f;
    background: url('../images/bg.png');
    background-size: 250%;
    background-position-x: -100px;
    animation: bodyAnimation 450ms linear 1;
    
}

@keyframes bodyAnimation {
    from {
            
        filter: blur(40px);
    }
    to {
        
        filter: blur(0px);
    }
}
/* personalizar a barra em geral, aqui estou definindo 10px de largura para a barra vertical
e 10px de altura para a barra horizontal */
::-webkit-scrollbar {
    width:10px;
    height: 10px;
}
    
/* aqui é para personalizar o fundo da barra, neste caso estou colocando um fundo cinza escuro*/
::-webkit-scrollbar-track {
    background:#333;
}
     
    /* aqui é a alça da barra, que demonstra a altura que você está na página
    estou colocando uma cor azul clara nela*/
::-webkit-scrollbar-thumb {
    background: #737d83;
}
header {
    margin: auto;
    align-items: center;
    text-align: center;
    color: black;
    margin-top: 20px;
}
header img {
    width: 120px;
}
h1 {
    color: white;
    font-family: Montserrat;
    font-weight: 600;
    /*font-style: italic;*/
    font-size: 20px;
}
ul {
    padding-inline-start: 0;
    display: inline-flex;
    margin: 0;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: black;
}
button{
    cursor: pointer;
}
button:focus{
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    
}
button:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}


input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
    -moz-appearance: textfield;
}
input::-webkit-calendar-picker-indicator {
    display: none;
}
input[type="date"]::-webkit-input-placeholder {
    visibility: hidden !important;
}
div#page {
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 40px;
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}
input:focus{
    
    outline: 0px ;
    
}

@media(min-width:1100px){
    header img {
        width: 300px;
    }
    body{
        background-size: 120%;
        background-position-y:-200px;
        background-position-x: -100px;
    }
    
    h1{
        font-size: 70px;
    }
}