body {
    animation: scroller 600ms linear 1;
}
div.page {
    position: relative;
    margin: auto;
    align-items: center;
    text-align: center;
    padding: 0px;
    margin-top: 30px;
    animation: menuAnimation 450ms linear 1;
}
@keyframes menuAnimation {
    0% {
        
        left: -1000px;
    }
    100% {
        
        left: 0;
    }
}
div.landings {
    align-items: center;
    text-align: center;
    margin: auto;
}
p.landing1, 
p.landing2 {
    color: white;
    font-family: 'Alata';
    font-size: 20px;
    font-style: italic;
    display: flex;
    margin-left: 20px;
    text-align: left;
    width: 270px;
}
p.landing2 {
    font-size: 25px;
       
    margin-top: -20px;
    width: 300px;
}

div.search{
    margin: auto;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    display: inline-flex;
    width: 90%;
}
input.search {
    width: 80%;
    height: 40px;

    border-radius: 10px 0 0 10px;
    border: none;
    
    text-align: center;
    padding: 10px;
    
    background-color: white;
    
    /*Font config*/
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;

    /*---*/
    transition: 400ms;
}
input.search:focus {

    background-color: rgb(209, 209, 209);

}

button.search{
    background-color: #e46969;
    border: none;
    border-radius: 0 10px 10px 0;
    width: 20%;
    height: 60px;
    transition: 400ms;
    cursor: pointer;
}


button.search:focus{
    background-color: #d64f4f;
    border-width: 2px 2px 2px 0;
    border-style: solid;
    border-color: #55555525;
}


button.search img{
    width: 20px;
    filter: brightness(100);
}
div.page ul {
    width: 90%;
    
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 40px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    grid-template-areas: none;
    
    
    
}

button#trending {
    background: linear-gradient(125deg, #5f7ff3 0%, #17ffe1 100%);
}
button#explore {
    
    background: linear-gradient(125deg, #e247ce -50%, #f8f35b 110%);
}
div.page ul button {
    width: 120px;
    height: 120px;
    
    margin: auto;
    margin-bottom: 30px;
    padding: 10px;
    
    background-size: 500px;
    
    /*border config*/
    border-radius: 15px;
    border-style: none;

    /*Font config*/
    font-family: 'Alata', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 25px;

    /*--*/
    transition: 500ms;
}


div.feed{
    position: absolute;
    background-position-y: 0;

    
    margin-left: -10px;
    margin-top: 80px;

    align-items: center;
    text-align: center;
    background-color:  #202020;
    width: 105%;
    
    
}
div.feed div{
    margin-bottom: 40px;
    

}

div.feed img{
    width: 90%;

    /*Border config*/
    border-radius: 10px;

    /*Shadow config*/
    box-shadow: 2px 0px 5px 5px rgba(0, 0, 0, 0.137);
}
div.feed img.primeira {
    margin-top: -60px;
}
div.feed button.download {
    background: linear-gradient(317deg, rgba(91, 228, 111, 1) 0%, rgba(40, 223, 196, 1) 100%);

    /*Font config*/
    color: white;
    font-family: 'Alata';
    font-size: 20px;

    border: none;
    border-radius: 10px;
    height: 50px;
    width: 70%;
    filter: grayscale(40%);

    margin-top: 5px;
    transition: 400ms;
}
div.feed button.download:hover{
    border-style: solid;
    border-width: 3px;
    border-color: rgb(214, 214, 214);
}
div.feed div div.tags{
    display: inline-flex;
    margin-bottom: 0;
}
div.feed div div.tags p{
    
    background-color: rgb(56, 56, 56);
    padding: 2px 10px 5px 10px;
    border-radius: 10px;
    
    /*Font config*/
    color: white;
    font-family: 'Alata';
    font-size: 14px;
}
div.feed div div.tags p+p{
    margin-left: 15px;
}

hr.feed-separator{
    border-color: rgb(112, 112, 112);
    border-style: solid;
    border-width: 0.5px;
    
    width: 50%;
}

/*COMPUTADOR*/

@media(min-width:1100px){
    div.landings{
        visibility: hidden;
        height: 0;    
    }
    div.page{
        animation: menuAnimation2 1.5s linear 1;
    }
    @keyframes menuAnimation2 {
        0% {
            
            left: -4000px;
        }
        100% {
            
            left: 0;
        }
    }
    
    /*MINI MENU*/
    div.page ul {
        width: 30%;
    }
    div.page ul button{
        height: 100%;
        width: 100%;

        filter: grayscale(30%);

    }
    

    /*FEED*/
    
    div.feed{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 100%;
        
        margin-top: 150px;
    }
    div.feed div{
        
        margin-bottom: 130px;

    }
    
    div.feed div img{
        width: 420px;
        height: 420px;
        object-fit: cover;

        margin-top: 0;
        

        margin-top: -60px;
    }
    div.search{
        width: 50%;
        
        display: inline-flex;
        flex-wrap: center;
        
        background-position-y: relative;
        
        
    }
    input.search {
        width: 90%;
    }
    button.search{
        width: 10%;
        
    }
    button.search:hover{
        background-color: rgb(202, 143, 143);
    }
    
}